body{
    background-image: url(/img/Fondo_section_CARD.jpg);
    background-position: center;
}

.section_art{
display: flex;
flex-wrap: nowrap;



border: 1px 1px 1px red;
}

.cont_cards{
    display: flex;
}

.diseño1{
    background-color:#8a1917ad!important;
}
.img_index{

    width: 100%;
}

.fondo_cabezera{
    background-image: url(/img/Cabezera_01.JPG);
    background-position: top;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 60px;
text-align: center;

}

.cards_{
    margin: 10px 0px;
    width: 100%;
}

.section_video{
 display: flex;
   justify-content: center;
   margin: 10px auto;
}

.video{
    width: 90vw;
    align-content: center;
  margin: auto 10px;
}
.footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: seashell;
}

.opciones{

    padding: .2rem 1rem;
    color:white !important;
}

.opciones:hover{
    background-color:#d985627d;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    transition: 1s;

}

.galeria_photo{

    display:flex;
    align-content: center;
    

}

.photo{
    width: 100%;
    margin-top: 10px;
    padding: 0px;
}

.photo:hover{
position: absolute;
z-index: 5;
width: 120%;
transition: 1S;
}

.link_card{
    color: black;
    margin-left: .5%;
    
}

a{
    text-decoration: none;
}
.cont_spoty{
    margin: 0 auto;
    display: flex;
    /* padding: 0px; */
    padding-top: 1%;
}

.list_spoty{
    width: 100%;
    /* margin: 0 auto; */
    margin-left: 11%;
}